*                           @zinob @pn @ElenaKurganova
se/PrivateUnsecuredLoan     @zinob @pn @ElenaKurganova
se/Mortgage                 @machalvan
no/PrivateUnsecuredLoan     @zinob @pn @ElenaKurganova
no/Mortgage                 @machalvan
