*                           @Torbacka @mantono @6185541513 @machalvan
se/PrivateUnsecuredLoan     @Torbacka @zinob @mantono
se/Mortgage                 @mantono
no/PrivateUnsecuredLoan     @6185541513
no/Mortgage                 @machalvan @mantono
